{% extends "main/base.html" %}

{% block content %}
    <div class = "row">
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Team Selection</th>
<!--                    <th>Spread</th>-->
                    <th>Amount</th>
                    <th>Time</th>
                    <th>Note</th>
                    <th>UserID</th>
                </tr>
            </thead>

            <tbody>
            {% for b in bets %}
                <tr>
                    <td>{{b.gameID}}</td>
                    <td>{{b.team_selection}}</td>
<!--                    <td>{{b.spread}}</td>-->
                    <td>${{b.bet_amount}}</td>
                    <td>{{b.bet_time}}</td>
                    <td>{{b.bet_note}}</td>
                    <td>{{b.userID}}</td>
                    <br><br>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}