<nav>
    <div class="nav-wrapper green">
        {% if user.is_authenticated %}
        <a href="/homepage" class="brand-logo">HishamKings</a>
        {% else %}
        <a href="/login" class="brand-logo">HishamKings</a>
        {% endif %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if user.is_authenticated %}
            <li><a href="/homepage">Home</a></li>
            <li><a href="/sportsbook">Sportsbook</a></li>
            <li><a href="/account">{{user.username|title}}</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>